---
layout: compress
---

<!doctype html>

{% include origin-type.html %}

<html>
  {% include head.html %}
  <body>
    {% include sidebar.html %}

    <div id="main-wrapper" class="d-flex justify-content-center">
      <div class="container d-flex flex-column px-xxl-5">
        {% include topbar.html %}
        <div class="row flex-grow-1">
          <main aria-label="Main Content" class="col-12 col-lg-11 col-xl-9 px-md-4">
            {{ content }}
          </main>
        </div>
      </div>

      <aside aria-label="Scroll to Top">
        <button id="back-to-top" type="button" class="btn btn-lg btn-box-shadow">
          <i class="fas fa-angle-up"></i>
        </button>
      </aside>
    </div>

    <div id="mask"></div>

    <!-- JavaScripts -->

    {% include js-selector.html %}

  </body>
</html>
