---
layout: default
refactor: true
---


<article class="px-1">
  <header>
    <h1 data-toc-skip>{{ page.title }}</h1>

    <div class="post-meta text-muted">

      <!-- lastmod date -->
      {% if page.last_modified_at and page.last_modified_at != page.date %}
        <span>
          {{ site.data.locales[lang].post.updated }}
          {% include datetime.html date=page.last_modified_at tooltip=true lang=lang %}
        </span>
      {% endif %}

      <div class="d-flex justify-content-between">
        <!-- author(s) -->

  
      </div>
      <!-- .d-flex -->
    </div>
    <!-- .post-meta -->
  </header>

  <div class="content">
    {{ content }}
  </div>

  <!-- div.post-tail-wrapper -->
</article>
